@import '../../assets/palette';

.price-container {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $white;
    position: relative;
    width: 100%;

    h2 { text-align: center; }
}
