@import '../../assets/palette';

.sentiment-container {
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: $white;
    position: relative;

    h2 { text-align: center; }

    .react-d3-core__legend {
        color: #000;
    }

    .sentiment-charts-wrapper {
        display: flex;
        justify-content: space-around;
    }
}
