@import '../../assets/palette';

.sentiment-container {
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: $white;
    position: relative;
    width: 100%;

    h2 { text-align: center; }

    .sentiment-charts-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .sentiment-chart {
        width: 50%;

        h3 {
            text-align: center;
            color: #000;
        }
    }
}
