@import '../../assets/palette';

.sidebar-container {
    min-width: 210px;
    background-color: $blue-dark;


    h4 {
        padding: 20px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1;
    }

}
