@import '../../assets/palette';
@import 'bourbon';

.sidebar-container {
    position: absolute;
    top: 75px;
    bottom: 0;
    left: -210px;
    min-width: 210px;
    background-color: $blue-dark;
    @include transition(all 0.4s ease-in-out);

    &.is-expanded {
        left: 0;
    }

    h4 {
        padding: 10px;
        text-transform: uppercase;
        line-height: 1;
    }

}
