@import '../../assets/palette';

.tweets-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    h2 {
        text-align: center;
    }

    .app-content-wrapper {
        overflow: auto;
        width: calc(100% - 60px);
        height: calc(100% - 60px);
    }

    .tweets-list {
        display: flex;
        flex-wrap: wrap;
    }

    .tweets-infinite-wrapper > div {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 60px);
    }
}
