.stock-container {    
    height: 100%;
    overflow: auto;

    .stock-dashboard-row {
        display: flex;
        width: 100%;
    }

    .stock-price-row {
        display: flex;
        width: 100%;
    }
}
