//Inspiration: http://wrapbootstrap.com/preview/WB09498FH

@import "./typography";
@import "./palette";
@import "./mixins";

body {
    @include type-setting(-1);

    font-family: $base-font-family;
    font-weight: 300;
    background-color: $blue-light;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
}

.app-content-wrapper {
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: calc(100% - 115px);
}

.section-content-wrapper {
    padding: 10px;
}
