//Inspiration: http://wrapbootstrap.com/preview/WB09498FH

@import "./typography";
@import "./palette";
@import "./mixins";

body {
    @include type-setting(0);

    font-family: $base-font-family;
    font-weight: 300;
    background-color: $blue-light;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
}

.app-content-wrapper {
    margin: 20px;
    padding: 20px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 165px);
}

.section-content-wrapper {
    padding: 20px;
}
