$white: #fff;
$black: #000;

$gray-light: #f8f8ff;
$gray: #89949B;
$gray-dark: #3a3a3a;
$gray-darker: #282828;

$teal: #008080;

$gold: #ffd700;

$fire-brick: #ee2c2c;

$green: #2eb398;

$blue-light: #E9F0F5;
$blue-dark: #273135;
