$color-white: #fff;
$color-black: #000;

$color-grey-light: #f8f8ff;
$color-grey: #535353;
$color-grey-dark: #3a3a3a;
$color-grey-darker: #282828;

$color-teal: #008080;

$color-gold: #ffd700;

$color-fire-brick: #ee2c2c;
